@{
    ViewData[Constants.Title] = BooksRHere.Properties.Resources.Offline;
}
<div class="container">
    <h1>@BooksRHere.Properties.Resources.Offline</h1>
    <p>@BooksRHere.Properties.Resources.ThePageYouRequestedCanNotBeShownBecauseYouAreOffline</p>
</div>
